// SCSS Start
// Prompt
.prompt {

  &__caret {
    background-color: #000;

    &--blink {
      animation: blink 1s steps(2, start) infinite;
    }
  }

  &__input br {
    display: none;
  }
}

// Animations
@keyframes blink {
  to {
    visibility: hidden;
  }
}
// SCSS End
