@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

/* Variables */
:root {
  /*
    Fonts
    Using absolute units on layout & content for responsive
  */
  --font-size-desktop: 3.8rem;
  --font-size-mobile: 3rem;
  --font-size-rem: 62.5%;
  /* Colors */
  --accent: #7c71da;
  --primary: #3e32a2;
  text-transform: uppercase;
}

/* Scrollbars */
::-webkit-scrollbar {
  width: 16px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--primary);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--accent);
}

body {
  background: var(--primary);
  color: var(--accent);
  /* Responsive base-font */
  font-size: var(--font-size-mobile);

  @media (min-width: 992px) {
    font-size: var(--font-size-desktop);
  }
}

html {
  /**
  * Setting this size ensures to achieve units correspondence
  * - 62.5% of 16px user agent font size = 10px
  * i.e. 1.2 * 10px = 12px -> 12px = 1.2rem
  */
  font-size: var(--font-size-rem);
}

/* Dark Theme */
.dark {
  --accent: #00ff00;
  --primary: #000;
  text-transform: none;
}

/* Prompt */
.prompt__caret {
  background-color: var(--accent);
}

.prompt__caret--blink {
  animation: blink 1s steps(2, start) infinite;
  height: var(--font-size-mobile);
  width: var(--font-size-mobile);

  @media (min-width: 992px) {
    height: var(--font-size-desktop);
    width: var(--font-size-desktop);
  }
}

.prompt__input br {
  display: none;
}

/* Animations */
@keyframes blink {
  to {
    visibility: hidden;
  }
}
