@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

/* Variables */
@theme {
  /* Animations */
  --animate-blink: blink 1s steps(2, start) infinite;
  /* Colors */
  --color-accent: #7c71da;
  --color-primary: #3e32a2;
  /* Sizes */
  --height-caret-desktop: 32px;
  --height-caret-mobile: 24px;
  --width-caret-desktop: 32px;
  --width-caret-mobile: 24px;
  /*
    Fonts
    Using absolute units on layout & content for responsive
  */
  --text-desktop: 3.8rem;
  --text-mobile: 3rem;
  --leading-desktop: var(--text-desktop);
  --leading-mobile: var(--text-mobile);
  /**
  * Setting this size ensures to achieve units correspondence
  * - 62.5% of 16px user agent font size = 10px
  * i.e. 1.2 * 10px = 12px -> 12px = 1.2rem
  */
  --text-rem: 62.5%;

  @keyframes blink {
    to {
      visibility: hidden;
    }
  }
}

:root {
  /* Cursor */
  cursor: url('../img/lc-pointer.svg'), auto;
}

/* Scrollbars */
::-webkit-scrollbar {
  width: 16px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-accent);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-primary);
}

/* Links - Buttons */
a,
button {
  cursor: url('../img/lc-pointer-1.svg'), auto;
}

/* Dark Theme */
.dark {
  /* Colors */
  --color-accent: #00ff00;
  --color-primary: #000;
  /* Cursor */
  cursor: auto;
  /* Sizes */
  --height-caret-desktop: 18px;
  --height-caret-mobile: 16px;
  --width-caret-desktop: 16px;
  --width-caret-mobile: 14px;
  /*
    Fonts
    Using absolute units on layout & content for responsive
  */
  --text-desktop: 1.6rem;
  --text-mobile: 1.4rem;
  --leading-desktop: var(--text-desktop);
  --leading-mobile: var(--text-mobile);
}

.dark a,
.dark button,
.dark .prompt__tag {
  cursor: pointer;
}

.dark .logo {
  background-image: url('../img/lc-logo-dark.svg');
}

.dark .picture--light {
  display: none;
}

.dark .picture--dark {
  display: unset;
}

.dark ::-webkit-scrollbar-track {
  background: var(--color-primary);
}

.dark ::-webkit-scrollbar-thumb {
  background: var(--color-accent);
}

/* Logo */
.logo {
  background-image: url('../img/lc-logo-light.svg');
}

/* Picture */
.picture--dark {
  display: none;
}

/* Prompt */
.prompt__input br {
  display: none;
}

.prompt__tag {
  cursor: url('../img/lc-pointer-1.svg'), auto;
}

/* Theme Switch */
.theme-switch__icon--light {
  background-image: url('../img/lc-theme-light.svg');
}

.theme-switch__icon--dark {
  background-image: url('../img/lc-theme-dark.svg');
}

/* Media Queries */
@media (prefers-color-scheme: dark) {
  .picture--light {
    display: none;
  }

  .picture--dark {
    display: unset;
  }
}
