@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

/* Variables */
@theme {
  /*
    Fonts
    Using absolute units on layout & content for responsive
  */
  --text-desktop: 3.8rem;
  --text-mobile: 3rem;
  /**
  * Setting this size ensures to achieve units correspondence
  * - 62.5% of 16px user agent font size = 10px
  * i.e. 1.2 * 10px = 12px -> 12px = 1.2rem
  */
  --text-rem: 62.5%;
  /* Colors */
  --color-accent: #7c71da;
  --color-primary: #3e32a2;
  /* Sizes */
  --height-caret-desktop: 32px;
  --height-caret-mobile: 24px;
  --width-caret-desktop: 32px;
  --width-caret-mobile: 24px;
  /* Animations */
  --animate-blink: blink 1s steps(2, start) infinite;

  @keyframes blink {
    to {
      visibility: hidden;
    }
  }
}

:root {
  /* Cursor */
  cursor: url('../img/lc-pointer.svg'), auto;
}

/* Scrollbars */
::-webkit-scrollbar {
  width: 16px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-primary);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-accent);
}

/* Dark Theme */
.dark {
  /* Colors */
  --color-accent: #00ff00;
  --color-primary: #000;
  /* Sizes */
  --caret-height-desktop: 18px;
  --caret-width-desktop: 16px;
  --caret-height-mobile: 16px;
  --caret-width-mobile: 14px;
  /* Cursor */
  cursor: auto;
}

.dark .logo {
  background-image: url('../img/lc-logo-dark.svg');
}

/* Logo */
.logo {
  /* Image-Replacement technique */
  background-image: url('../img/lc-logo-light.svg');
}

/* Prompt */
.prompt__input br {
  display: none;
}
